@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  --bg-color: #131312;
  --text-color: #ffffff;
}

.light {
  --bg-color: #ffffff;
  --text-color: #131312;
}

.min-h-screen {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}